
<section class="card">
    
    <section class="card-content">
        <h4 id="dashboardTitle">Dashboard</h4>
        
        <h6>Welcome {{user.username}}</h6>
        {{#if user.picture}}
            <img class="profilepic" src="{{user.picture}}"  alt="User profile image">
        {{else}}
            <img class="defaultpic" src="/assets/image/defaultpic.png" alt="User profile image">
        {{/if}}

    </section>

    <section class=" dashMiddle">

        <section class="dashColumn ">
            <h6>Timers</h6>
            <a href='/timers'>My Timers</a>

        </section>

        <section class="dashColumn ">
            <h6>Notes</h6>
            <p>Coming Soon</p>

        </section>

        <section class="dashColumn ">
            <h6>Posts</h6>
            <p>Coming Soon</p>
        </section>


    </section>
    
    
</section>


