<section>
    <div class="card">
        <div class="card-content">
            {{#each timerData}}
                <h3>{{timerName}}</h3>
            {{/each}}
        </div>
    </div>
    
</section>