<section>
    <section>
        <h1>Show Page</h1>
        <div class="card">
            <div class="card-content">
                <h3>{{timerName}}</h3>
            </div>
        </div>
    </section>
</section>