<section>
    <h4>Timer Dashboard</h4>
   {{> _createTimerForm}}
</section>

<section>
    <h5>My Timers</h5>
    <div class="card">
        <div class="card-content">
            {{#each data}}
                <div class="collection">
                    <a href="/showTimer/{{_id}}" class="collection-item">{{timerName}}</a>
                </div>
            {{/each}}

        </div>

        
   </div>
</section>