<section>
    <h4>My Timers</h4>
    <div class="card ">
        <div class="card-content">
            <span class="card-title"> Create a Timer</span>
                <form action="/" method="POST">
                    <div class="form-group">
                    <label for="timerName">Timer Name</label>
                    <input type="text" class="form-control" id="timerName" placeholder="Enter Timer Name" name="timer_name">
                    </div><div class="form-group">
                    <label for="roundTime">Round Time</label>
                    <input type="number" class="form-control" id="firstName" placeholder="Enter Round Time" name="first_name">
                    </div>
                    <div class="form-group">
                    <label for="breakTime">Break Time</label>
                    <input type="number" class="form-control" id="lastName" placeholder="Enter Break Time" name="last_name">
                    </div>
                    <div class="form-group">
                    <label for="numberOfRounds">Number of Rounds</label>
                    <input type="number" class="form-control" id="numberOfRounds" name="number_of_rounds" placeholder="Enter Number of Rounds">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
    

        </div>
        
    </div>
    
    
</section>