* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{
    border: 5px solid red;
}



h3 {
    font-size: 4em;
}

p{
    margin: 1em 0em !important;
}

.login-container{
    width:400px;
    margin-top:50px;
    text-align: center;
}

.divider{
    margin: 1em 0em;
}

body {
    background-color: #E2DCC8;
}

nav{
    background-color: #100F0F;
}

.defaultpic{
    width:13em;
    height: 12em;
}

.profilepic{
    width:12em;
    height: 11em;
}

.dashbody{ 
    width: 100vw;
    height: 100vh;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
   
    
   
   
    background-color: #fff;
    border: 5px solid red;
    
}

.dashheader{ 
   
    border: 5px solid red;
    
}

.dashMiddle{
    height: 20em;
    display: flex;
    flex-direction: row;
}

.dashColumn{
    flex: 1 1 auto;
}
