* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}



#loginButton{
  background-color: #cf4332;
}

.debug{
  border: 5px solid red;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.page-footer{
  background-color: #000;
}

#dashboardTitle{
  text-align: left;
}


h3 {
  font-size: 4em;
}

p{
  margin: 1em 0em !important;
}

.login-container{
  width:400px;
  margin-top:50px;
  text-align: center;
}

.divider{
  margin: 1em 0em;
}



nav{
  background-color: #100F0F;
}

.defaultpic{
  width:13em;
  height: 12em;
}

.profilepic{
  width:12em;
  height: 11em;
}


.dashMiddle{
  height: 20em;
  display: flex;
  flex-direction: row;
}

.dashColumn{
  flex: 1 1 auto;
  
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container{
  width: 100%;
  height: 50vh;
  background-color: white;

}

.breadcrumb{
  margin-right: 10em;
  color: #000;
  text-decoration: underline;
}

#breadcrumb{
  margin-right: 10em;
  color: #000;
  text-decoration: underline;
}

.circle-container{
  width: 325px;
  height: 325px;
  background-color: #ddd;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  z-index: 1;

}

.semiCircle{
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: right center;
  
}

.semiCircle:nth-child(1){
  background-color: #088b8b;
  z-index: 2;
}

.semiCircle:nth-child(2){
  background-color: #088b8b;
  z-index: 3;
}

.semiCircle:nth-child(3){
  background-color: #ddd;
  z-index: 4;
  /* display: none; */
}

.outermost-circle{
  width: 315px;
  height:315px;
  background-color: white;
  border-radius: 50%;
  z-index: 5;
  /* display: none; */
}

.timer-container{
  width: 330px;
  height: 200px;
  z-index: 6;
}

#timerDisplay {
  width: 400px;
  height: 100px;
  z-index: 7;
  font-size: 70px;
  font-weight: bold;
  margin: 0 10px 0 10px;
}

#breakTimerDisplay {
  width: 400px;
  height: 100px;
  z-index: 7;
  font-size: 70px;
  font-weight: bold;
  margin: 0 10px 0 10px;
}

/* Control buttons */
.controlButtonsContainer{
  position: relative;
  top:2em;
  justify-content: center;
  
}

.controlButtons{
  margin-right: 1em;    
  border: none;
  background: none;
  
}

.timerDescription{
  margin-top: 4em;
  margin-right: 1em
}

.fa-play, .fa-pause, .fa-clock-rotate-left{
  color:black;
  
  
  
}


.btn:hover{
  background: #0F3D3E;
  transition: 0.3s ease;
}

.row{
  display: table;
  width: 50%; /*Optional*/
  table-layout: fixed; /*Optional*/
  margin: none;
  line-height: 0px;
  
}

.column {
  display: table-cell;
}
