<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            © 2022 CircuitFlo
            <a class="grey-text text-lighten-4 right" href="#!">This is a footer</a>
         </div>
    </div>
</footer>